body {
  background-color: #e8e0d7;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: '30e7a7 0 0', Georgia, sans-serif;
  color: #4c2a79;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

.item {
  display: block;
  height: 100%;
  min-height: 100%;
  margin: 6px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 3px;
  background-color: #fff;
}

.item.item-dynamic {
  height: 38em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.block-item-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 13rem;
  margin: 7px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 50%;
  -webkit-flex: 50%;
  -ms-flex: 50%;
  flex: 50%;
}

.block-item-image.third-block-item_first-image {
  display: block;
  height: 16em;
  max-height: 100%;
  max-width: 100%;
  margin: 7px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-image: url('../images/BitesOfBliss.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.block-item-image.third-block-item_second-image {
  display: block;
  height: 16em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-image: url('../images/Bars.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.block-item-image.third-block-item-image_third-image {
  display: block;
  height: 16em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-image: url('../images/novelties-square.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.block-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  background-color: #fff;
  text-align: center;
}

.block-wrapper.secondary {
  margin: 7px;
  padding: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: transparent;
}

.text-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0px;
  padding-left: 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

.image-wrap {
  width: 100%;
  height: auto;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.image-wrap.image-wrap-tsecondary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.navbar {
  padding-top: 4px;
  padding-bottom: 4px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: transparent;
  color: transparent;
}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.navlink {
  padding: 18px;
  font-family: '30e7a7 0 0', Georgia, sans-serif;
  font-size: 24px;
}

.navlink:hover {
  color: #4c2a79;
}

.navlink:focus {
  color: #571406;
}

.navlink.w--current {
  color: #4c2a79;
}

.navlink.navlink_search-invisible {
  display: block;
}

.button {
  position: static;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: 0.7em;
  padding: 0.3em 0.5em 0.2em;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  border: 2px solid #4c2a79;
  border-radius: 2px;
  background-color: transparent;
  -webkit-transition: background-color 417ms ease;
  transition: background-color 417ms ease;
  font-family: '30e7a7 0 0', Georgia, sans-serif;
  color: #4c2a79;
  font-size: 1.5em;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #4c2a79;
  color: #fff;
}

.button.button-extralarge {
  margin-top: 0.4em;
  margin-bottom: 0.4rem;
  padding: 0.3rem 15px 0.2rem;
  font-size: 2em;
  line-height: 1.3em;
}

.button.button-extralarge.button-product {
  margin-top: 0.5em;
}

.button.special-selection_button {
  margin-bottom: 1rem;
  border-color: #fff;
  color: #fff;
}

.h1-block-secondary {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2.3rem;
  line-height: 2rem;
  text-align: center;
}

.cointainer-trust-proposition {
  padding: 33px;
}

.statement {
  margin-bottom: 31px;
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.logo-award-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.awards-logos {
  width: auto;
  height: 100px;
}

.colection-title {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: #fff;
}

.h3 {
  margin-top: 14px;
  margin-bottom: 14px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 3px;
  background-color: #c9b8a6;
  font-family: 'Libre Baskerville', sans-serif;
  color: #4c2a79;
  font-weight: 400;
  text-align: center;
}

.price {
  margin-top: 15px;
  margin-bottom: 0px;
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}

.price.product-price {
  text-align: left;
}

.first-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  min-height: 0vh;
  min-width: 0px;
  margin: 0.3em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 3px;
  background-color: #fff;
}

.secondary-items-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: 100%;
  margin: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: transparent;
}

.first-itemimagewrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  min-height: auto;
  min-width: auto;
  margin: 7px;
  padding: 0px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.first-itemimagewrap.first-item-image {
  display: block;
  overflow: hidden;
  height: auto;
  min-height: auto;
  min-width: auto;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
}

.first-item_text-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  padding: 0.7rem 1rem 0rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
}

.secondary-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 100%;
  margin: 4px 5px 5px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 3px;
  background-color: #fff;
}

.secondary-item_image-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  margin: 7px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.secondary-item_image-wrap.product-variant {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  height: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.secondary-item_image-wrap.image-background {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.secondary-item_image-wrap.secondary-item_first-image {
  background-image: url('../images/BitesOfBliss-wide.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.secondary-item_image-wrap.secondary-item_second-image {
  background-image: url('../images/spoons.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.secondary-item_text-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0px 1.2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.subheading {
  padding-right: 1rem;
  padding-left: 1rem;
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  font-style: normal;
  text-align: center;
}

.subheading.subheading-most-popular-items {
  font-size: 14px;
  line-height: 20px;
}

.subheading.first-iterm_subheading {
  font-size: 1.1em;
  line-height: 1.5em;
}

.subheading.special-selection_subheading {
  color: #fff;
}

.item-heading {
  font-size: 2.2em;
  line-height: 1em;
  text-align: center;
}

.item-heading.first-item-heading {
  margin-top: 0rem;
  margin-bottom: 0.3rem;
  font-size: 2.4rem;
  line-height: 1em;
}

.item-heading.special-selection_heading {
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  color: #fff;
  font-size: 2rem;
  line-height: 2rem;
}

.button-description {
  margin-bottom: 1em;
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 0.7rem;
  line-height: 0.7rem;
}

.button-description.secure-payment {
  text-align: center;
}

.chocolate-quoate {
  padding: 36px 46px;
}

.quotation {
  margin-bottom: 1px;
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 21px;
  font-style: normal;
  text-align: center;
}

.author {
  font-family: 'Libre Baskerville', sans-serif;
  text-align: center;
}

.container-threeitems-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.item-text-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.collection-title {
  margin-top: 25px;
  margin-bottom: 29px;
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: 400;
  text-align: center;
}

.collection-description {
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.container-background {
  padding: 38px 42px;
  background-color: #fff;
  text-align: center;
}

.paragraph-text {
  margin-top: 24px;
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.uppercase {
  text-transform: uppercase;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  float: right;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  background-color: transparent;
  text-align: center;
}

.brand {
  width: auto;
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
}

.body {
  margin: 0px 5px;
  border: 3px none #3a0f06;
  background-color: #e5d9cf;
  background-image: url('../images/background.svg');
  background-position: 50% 50%;
  background-size: 400px;
}

.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.top-nav {
  position: static;
  top: -10px;
  right: 15%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 35%;
  margin-top: -4px;
  padding: 8px 12px;
  float: right;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 0px 0px 7px 7px;
  background-color: #c9b8a6;
}

.top-nav-link {
  padding-right: 9px;
  padding-left: 9px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  border-right: 1px solid #3a0f06;
  font-family: '30e7a7 0 0', Georgia, sans-serif;
  color: #3a0f06;
  font-size: 1rem;
  line-height: 0.4rem;
  text-decoration: none;
}

.top-nav-link.top-nav-link_basket {
  margin-top: 0px;
  padding-top: 0px;
  border-right-style: none;
  border-right-width: 0px;
  color: #4c2a79;
  font-size: 1rem;
  line-height: 0.4rem;
}

.basket-icon {
  margin-bottom: 4px;
  margin-left: 9px;
  padding-left: 0px;
}

.nav-link-seach {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 25px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.search-form {
  display: block;
  width: 156px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 15px;
}

.search-field {
  width: 70%;
  height: 5%;
  float: left;
}

.search_button {
  width: 30%;
}

.search-form-cointaner {
  display: inline-block;
  width: 100%;
}

.form-wrapper {
  display: none;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
}

.basket-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.special-selection-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  background-color: #4c2a79;
}

.special-selection_image-wrap {
  margin: 7px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url('../images/special-selection-mockup-SQUARE.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.special-selection_text-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 3px;
}

.collection-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.collection_image {
  width: 100%;
  height: auto;
  max-height: auto;
  max-width: none;
  min-height: auto;
  min-width: 150%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.section-footer {
  border: 1px solid #000;
  background-color: #4c2a79;
}

.columns-footer {
  padding: 41px;
  text-align: center;
}

.form_text-field {
  width: 75%;
  height: 50px;
  float: left;
  border-style: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.form_button {
  width: 25%;
  height: 50px;
  float: right;
  border-style: solid;
  border-width: 2px;
  border-color: hsla(0, 0%, 100%, .54);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #3a0f06;
  font-family: 'Libre Baskerville', sans-serif;
}

.footer_header {
  margin-bottom: 0px;
  color: #fff;
  font-size: 24px;
}

.footer_header.footer_header_with-border {
  margin-bottom: 11px;
  border-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #fff;
}

.fotter_text {
  margin-bottom: 6px;
  font-family: 'Libre Baskerville', sans-serif;
  color: #fff;
}

.fotter_text:hover {
  color: hsla(0, 0%, 100%, .77);
}

.fotter_text.footer_text_form {
  margin-bottom: 13px;
}

.sub-footer {
  background-color: #2e0d5a;
  text-align: center;
}

.sub-footer-text {
  float: left;
  font-family: 'Libre Baskerville', sans-serif;
  color: hsla(0, 0%, 100%, .83);
  font-size: 12px;
  letter-spacing: 1px;
}

.sub-footer-text.sub-footer-text_contributors {
  float: right;
}

.subfooter-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.sub-footer-text_link {
  color: hsla(0, 0%, 100%, .84);
  text-decoration: none;
}

.sub-footer-text_link:hover {
  color: hsla(0, 0%, 100%, .53);
}

.product-description {
  margin-bottom: 0px;
  padding-top: 17px;
  padding-bottom: 17px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  border-top: 1px solid #4c2a79;
  border-bottom: 1px solid #4c2a79;
  font-family: 'Libre Baskerville', sans-serif;
  text-align: center;
}

.product-description.details {
  border-style: none;
  color: #333;
}

.product-description.quantity {
  padding-top: 0px;
  padding-bottom: 0px;
  border-top-style: none;
  border-bottom-style: none;
}

.product-details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 14px;
  padding-bottom: 14px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.product-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.product-image {
  height: auto;
  max-height: 100%;
  min-width: 160%;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.product-container {
  margin-top: 17px;
  margin-bottom: 7px;
  border-radius: 3px;
  background-color: #fff;
}

.product-page-nav {
  display: none;
  padding: 13px;
}

.product-page-nav_link {
  color: #4c2a79;
  text-decoration: none;
}

.quantity-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.quantity-field {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.quantity-form_wraper {
  width: 30%;
  margin-top: 24px;
  padding-top: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.social-share {
  padding-top: 5px;
  padding-bottom: 5px;
}

.social-share_icon {
  width: 2.2rem;
  padding: 8px;
}

.product-description_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.first-item_image {
  height: auto;
  min-width: 100%;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.breadcrumbs {
  margin-bottom: 14px;
}

.breadcrumbs-linlk {
  color: #4c2a79;
  text-decoration: none;
}

.breadcrumbs-linlk:hover {
  color: #3a0f06;
}

.basket-summary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #3a0f06;
}

.basket-summary.basket-summary_total {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  border-top: 2px solid #3a0f06;
  text-align: left;
}

.basket-summary_product {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 14px;
  padding-bottom: 14px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.basket-summary_price {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 20%;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}

.basket-summary-quantity {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 20%;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}

.basket-summary_subtotal {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 20%;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}

.basket-summary_subtotal.remove-from-cart {
  -webkit-flex-basis: 10%;
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%;
}

.basket-summary_product_imagewrap {
  overflow: hidden;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
}

.basket-summary_product_image {
  width: auto;
}

.basket-summary_product_title {
  padding: 10px 10px 10px 25px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.cart-product-heading {
  font-size: 2em;
  line-height: 1em;
  text-align: left;
}

.basket-summary-category-title {
  font-family: 'Libre Baskerville', sans-serif;
}

.basket-summary-category-title.value {
  margin-top: 2rem;
  font-size: 1.2em;
  font-weight: 400;
}

.basket-summary-category-title.value.subtotal {
  font-weight: 700;
}

.basket-summary-category-title.total {
  width: auto;
  color: #333;
  font-size: 1.6em;
}

.basket-summary-category-title.total.total-price {
  margin-left: 26px;
  color: #4c2a79;
}

.basket-summary-category-title.remove {
  color: #858585;
}

.stripe-logo {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.basket-summary_total {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 991px) {
  h1 {
    margin-bottom: 0px;
    font-size: 28px;
  }
  .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .item.item-dynamic {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }
  .block-item-image {
    height: 13rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .block-item-image.third-block-item_first-image {
    width: auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .block-item-image.third-block-item-image_third-image {
    height: 16em;
  }
  .block-wrapper {
    padding-bottom: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .block-wrapper.secondary {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .image-wrap.image-wrap-tsecondary {
    width: auto;
    height: auto;
    min-height: auto;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background-image: none;
  }
  .navlink {
    background-color: #fff;
  }
  .button {
    font-size: 1.1rem;
  }
  .button.button-extralarge {
    margin-bottom: 0rem;
    font-size: 1.5rem;
  }
  .h1-block-secondary {
    margin-top: 0px;
    font-size: 2rem;
    line-height: 2rem;
  }
  .cointainer-trust-proposition {
    padding-bottom: 0px;
  }
  .statement {
    margin-bottom: 7px;
  }
  .logo-award-wrap {
    height: 250px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .awards-logos {
    height: 90px;
    margin: 16px 13px;
  }
  .secondary-items-wrap {
    height: auto;
    min-height: 0%;
  }
  .first-item_text-wrap {
    padding: 0rem;
  }
  .secondary-item {
    height: auto;
    max-height: 0%;
    min-height: 0%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .subheading {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 0.7rem;
    line-height: 1rem;
  }
  .subheading.first-iterm_subheading {
    font-size: 0.7rem;
  }
  .subheading.special-selection_subheading {
    line-height: 1rem;
    font-weight: 400;
  }
  .item-heading {
    margin-bottom: 9px;
    font-size: 1.7rem;
    line-height: 1.9rem;
  }
  .item-heading.first-item-heading {
    margin-top: 0rem;
    margin-bottom: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 2rem;
  }
  .button-description {
    margin-top: 0.5rem;
    padding-bottom: 0px;
  }
  .quotation {
    line-height: 26px;
  }
  .item-text-wrap {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }
  .brand {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: left;
  }
  .menu-button {
    padding-top: 26px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .menu-button.menu-button-basket {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .menu-button-icon {
    color: #4c2a79;
    font-size: 29px;
  }
  .body {
    border-style: none;
  }
  .nav-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: -2px;
    float: none;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .basket-icon {
    margin-left: 0px;
  }
  .nav-link-seach {
    display: none;
    background-color: #fff;
  }
  .collection-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .collection_image {
    display: inline-block;
    width: 100%;
    min-height: 120%;
    min-width: 120%;
  }
  .form_text-field {
    width: 100%;
  }
  .form_button {
    width: 100%;
  }
  .footer_header {
    margin-top: 0px;
    padding-bottom: 9px;
    line-height: 1rem;
  }
  .footer_header.footer_header_with-border {
    margin-top: 35px;
  }
  .product-details {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
  }
  .product-image {
    min-width: auto;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .product-description_wrap {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .first-item_image {
    display: block;
    min-width: 130%;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .breadcrumbs {
    margin-bottom: 10px;
  }
  .basket-summary {
    background-color: transparent;
  }
}

@media (max-width: 767px) {
  .item {
    height: 100%;
    min-width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .block-item-image {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    min-height: 0px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .block-item-image.third-block-item_first-image {
    height: 20em;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .block-item-image.third-block-item_second-image {
    height: 20em;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .block-item-image.third-block-item-image_third-image {
    height: 20em;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .block-wrapper.secondary {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .text-wrap {
    padding-top: 10px;
    padding-right: 12px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .image-wrap.image-wrap-tsecondary {
    display: block;
    height: auto;
    max-height: auto;
    max-width: auto;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .logo {
    width: 50%;
  }
  .button {
    margin-bottom: 18px;
  }
  .h1-block-secondary {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    font-size: 3em;
    line-height: 1em;
  }
  .cointainer-trust-proposition {
    padding-bottom: 19px;
  }
  .logo-award-wrap {
    height: 200px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .awards-logos {
    height: 80px;
    margin: 10px;
    padding: 0px;
  }
  .popularpresents {
    display: block;
  }
  .secondary-items-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    min-height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .first-itemimagewrap {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }
  .first-item_text-wrap {
    padding: 1rem;
  }
  .secondary-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .secondary-item_text-wrap {
    margin: 18px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .subheading {
    font-size: 0.7rem;
    line-height: 22px;
  }
  .subheading.special-selection_subheading {
    padding-right: 1rem;
  }
  .item-heading {
    margin-top: 21px;
    padding-bottom: 12px;
    font-size: 1.7rem;
    line-height: 28px;
  }
  .item-heading.first-item-heading {
    font-size: 2rem;
    line-height: 32px;
  }
  .item-heading.special-selection_heading {
    line-height: 30px;
  }
  .quotation {
    line-height: 26px;
  }
  .container-threeitems-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .item-text-wrap {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }
  .menu-button {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .menu-button.menu-button-basket {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .basket-icon {
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .collection-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .collection_image {
    width: auto;
    height: 100%;
    max-height: 100%;
    max-width: none;
    min-height: 150%;
    min-width: auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }
  .footer_header {
    font-size: 28px;
  }
  .footer_header.footer_header_with-border {
    font-size: 28px;
  }
  .sub-footer-text {
    margin-bottom: 8px;
    float: none;
  }
  .sub-footer-text.sub-footer-text_contributors {
    float: none;
  }
  .product-details {
    padding-top: 27px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    -webkit-flex-shrink: 2;
    -ms-flex-negative: 2;
    flex-shrink: 2;
  }
  .product-price {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .product-image {
    height: auto;
    min-width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .quantity-wrap {
    display: block;
    width: auto;
    height: auto;
    margin-top: 0rem;
  }
  .quantity-form_wraper {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .basket-summary {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .basket-summary_product {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .basket-summary_price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .basket-summary-quantity {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .basket-summary_subtotal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .basket-summary_product_imagewrap {
    -webkit-flex-basis: 30%;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
  }
  .basket-summary_product_title {
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-flex-basis: 70%;
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
  }
  .cart-product-heading {
    font-size: 1.4em;
  }
  .basket-summary-category-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .basket-summary-category-title.value {
    margin-top: 0rem;
  }
}

@media (max-width: 479px) {
  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .item {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .item.item-dynamic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .block-item-image {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .block-item-image.third-block-item_first-image {
    height: 10rem;
  }
  .block-item-image.third-block-item_second-image {
    height: 10rem;
  }
  .block-item-image.third-block-item-image_third-image {
    height: 10rem;
  }
  .block-wrapper.secondary {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .text-wrap {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .image-wrap {
    width: 100%;
  }
  .logo {
    width: 80%;
  }
  .button {
    margin-bottom: auto;
    padding-top: 7px;
    padding-bottom: 5px;
    font-size: 18px;
  }
  .button.button-extralarge {
    margin-bottom: 0.3em;
    padding-top: 9px;
    padding-bottom: 7px;
    font-size: 24px;
  }
  .h1-block-secondary {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 2rem;
    line-height: 2rem;
  }
  .logo-award-wrap {
    height: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .awards-logos {
    height: 80px;
    margin: 14px;
  }
  .secondary-items-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .first-itemimagewrap {
    max-height: auto;
    min-height: auto;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .first-item_text-wrap {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
  .secondary-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .secondary-item_image-wrap.secondary-item_first-image {
    height: 10rem;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .secondary-item_image-wrap.secondary-item_second-image {
    height: 10rem;
    background-image: url('../images/special-selection-mockup-600px.jpg');
    background-size: 300px;
  }
  .secondary-item_text-wrap {
    margin: 0px 0px auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .subheading {
    padding-top: 0px;
    font-size: 14px;
    line-height: 18px;
  }
  .subheading.first-iterm_subheading {
    padding-top: 10px;
    padding-bottom: 11px;
  }
  .subheading.special-selection_subheading {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 13px;
    line-height: 22px;
  }
  .item-heading {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 1.5rem;
    line-height: 24px;
  }
  .item-heading.first-item-heading {
    padding-bottom: 4px;
    line-height: 1.8rem;
  }
  .item-heading.special-selection_heading {
    margin-top: 0.5rem;
    font-size: 3em;
    line-height: 1em;
  }
  .button-description {
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 0px;
    font-size: 0.6rem;
  }
  .button-description.secure-payment {
    margin-bottom: 9px;
  }
  .chocolate-quoate {
    padding: 13px 21px;
    line-height: 29px;
  }
  .quotation {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 18px;
    line-height: 24px;
  }
  .item-text-wrap {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
  }
  .menu-button-icon {
    font-size: 24px;
  }
  .basket-icon {
    font-size: 22px;
  }
  .special-selection-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .special-selection_image-wrap {
    height: 15rem;
  }
  .collection-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .collection_image {
    width: auto;
    height: auto;
    max-height: auto;
    max-width: auto;
    min-width: auto;
  }
  .form_text-field {
    width: 100%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .form_button {
    width: 100%;
    border-width: 2px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .footer_header {
    margin-bottom: 4px;
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
  .footer_header.footer_header_with-border {
    margin-top: 20px;
    margin-bottom: 7px;
    padding-bottom: 7px;
  }
  .sub-footer-text {
    float: none;
  }
  .sub-footer-text.sub-footer-text_contributors {
    font-size: 0.5rem;
    line-height: 0.7rem;
  }
  .product-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .product-page-nav {
    text-align: center;
  }
  .quantity-wrap {
    width: 30%;
    margin-left: 20px;
    float: none;
  }
  .basket-summary {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .basket-summary_price {
    margin-top: 8px;
    margin-bottom: 8px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .basket-summary-quantity {
    margin-top: 8px;
    margin-bottom: 8px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .basket-summary_subtotal {
    margin-top: 8px;
    margin-bottom: 8px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .cart-product-heading {
    font-size: 1.7em;
  }
  .basket-summary-category-title.total {
    font-size: 1.4em;
    line-height: 1.4em;
  }
}

@font-face {
  font-family: '30e7a7 0 0';
  src: url('../fonts/30E7A7_0_0.woff2') format('undefined'), url('../fonts/30E7A7_0_0.eot') format('embedded-opentype'), url('../fonts/30E7A7_0_0.woff') format('woff'), url('../fonts/30E7A7_0_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}